1 VERSIONINFO 
FILEVERSION 1, 2, 0, 0
PRODUCTVERSION 1, 2, 0, 0
FILEOS VOS_DOS_WINDOWS16
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Code Alliance\000"
   VALUE "FileDescription", "LawMaker - Outlaws(tm) Editor\000"
   VALUE "FileVersion", "1.0\000"
   VALUE "InternalName", "LawMaker\000"
   VALUE "LegalCopyright", "Copyright\251 Code Alliance, 1997.\000"
   VALUE "OriginalFilename", "LawMaker.exe\000"
   VALUE "ProductName", "LawMaker\000"
   VALUE "ProductVersion", "1.0 beta 2\000"
   VALUE "ReleaseDate", "September 1997\000"
   VALUE "HomePage", "http://www.darkjedi.com/\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }

}
